@page
@model T5_PR1.Pages.VeureConsumAiguaModel
@{
	ViewData["Title"] = "Consum d'aigua";
}

<h2>Llistat de consums d'aigua</h2>
<div>
    <a asp-page="AfegirConsumAigua" class="btn btn-primary" style="margin-bottom: 20px">Afegir consum d'aigua</a>
</div>

@if (Model.Consums.Count() != 0)
{
    <div style="margin-bottom: 20px;">
        <!-- Selector per canviar entre taules i consultes LINQ -->
        <label for="tableSelector">Selecciona una taula:</label>
        <select id="tableSelector">
            <option value="tots">Tots els consums</option>
            <option value="mesConsum">Municipis més consumidors</option>
            <option value="mitjaComarca">Consum mitjà per comarca</option>
            <option value="sospitosos">Consums sospitosos</option>
            <option value="creixent">Municipis amb tendència creixent</option>
        </select>
    </div>

	<!-- Taula de tots els consums -->
    <table class="table" id="table-tots">
        <thead>
            <tr>
                <th>Any</th>
                <th>Codi comarca</th>
                <th>Comarca</th>
                <th>Poblacio</th>
                <th>Domèstic xarxa</th>
                <th>Activitats econòmiques i fonts pròpies</th>
                <th>Total</th>
                <th>Consum domèstic per càpita</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var consum in Model.Consums)
            {
                <tr>
                    <td>@consum.Any</td>
                    <td>@consum.CodiComarca</td>
                    <td>@consum.Comarca</td>
                    <td>@consum.Poblacio</td>
                    <td>@consum.DomesticXarxa</td>
                    <td>@consum.ActivitatsEconomiquesIFontsPropies</td>
                    <td>@consum.Total</td>
                    <td>@consum.ConsumDomesticPerCapita</td>
                </tr>
            }
        </tbody>
    </table>

	<!-- Top 10 municipis consumidors -->
    <div id="table-mesConsum" style="display: none;">
        <h3>Top 10 municipis consumidors</h3>
        <ul>
            @foreach (var consum in Model.DeuMunicipisMesConsumidors)
            {
                <li>@consum.Poblacio - @consum.Total m³</li>
            }
        </ul>
    </div>

    <!-- Consum mitjà per comarca -->
    <div id="table-mitjaComarca" style="display: none;">
        <h3>Consum mitjà per comarca</h3>
        <ul>
            @foreach (var consum in Model.ConsumMitjaPerComarca)
            {
                <li>@consum.Comarca (@consum.CodiComarca) - @consum.Total m³</li>
            }
        </ul>
    </div>

    <!-- Consums sospitosos -->
    <div id="table-sospitosos" style="display: none;">
        <h3>Consums sospitosos (més de 999.999 m³)</h3>
        <p></p>
        <ul>
            @foreach (var consum in Model.ConsumsSospitosos)
            {

                <li>@consum.Poblacio - @consum.Total m³</li>
            }
        </ul>
    </div>

    <!-- Municipis amb tendència creixent -->
    <div id="table-creixent" style="display: none;">
        <h3>Municipis amb tendència creixent</h3>
        <ul>
            @foreach (var municipi in Model.MunicipisAmbTendenciaCreixent)
            {
                <li>@municipi</li>
            }
        </ul>
    </div>

}
else
{
    <div class="alert alert-warning">
        <p>Encara no existeix cap consum d'aigua!</p>
    </div>
}

@section Scripts {
    <script src="~/js/visibilitatAigua.js"></script>
}
