@page
@model T5_PR1.Pages.VeureConsumAiguaModel
@{
	ViewData["Title"] = "Consum d'aigua";
}

<h2>Llistat de consums d'aigua</h2>
<div>
    <a asp-page="AfegirConsumAigua" class="btn btn-primary" style="margin-bottom: 20px">Afegir consum d'aigua</a>
</div>

@if (Model.Consums != null && Model.Consums.Count() != 0)
{
	<!-- Taula de tots els consums -->
    <table class="table" id="table-tots">
        <thead>
            <tr>
                <th>ID</th>
                <th>Any</th>
                <th>Comarca</th>
                <th>Poblacio</th>
                <th>Consum domèstic per càpita</th>
                <th>Accions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var consum in Model.Consums)
            {
                <tr>
					<td>@consum.Id</td>
                    <td>@consum.Any</td>
                    <td>@consum.Comarca</td>
                    <td>@consum.Poblacio</td>
                    <td>@consum.ConsumDomesticPerCapita</td>
                    <td>
                        <a asp-page="EditarConsumAigua" asp-route-id="@consum.Id" class="btn btn-primary">Editar</a>
                        <form method="post" asp-page-handler="Delete" asp-route-id="@consum.Id" onsubmit="return confirm('Estàs segur que vols eliminar aquest consum?');" style="display:inline;">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-warning">
        <p>Encara no existeix cap consum d'aigua!</p>
    </div>
}

@section Scripts {
    <script src="~/js/visibilitatAigua.js"></script>
}
