@page
@model T5_PR1.Pages.VeureIndicadorsModel
@{
    ViewData["Title"] = "Indicadors energètics";
}

<h2>Llistat d'indicadors energètics</h2>
<div>
    <a asp-page="AfegirIndicador" class="btn btn-primary" style="margin-bottom: 20px;">Afegir indicador energètic</a>
</div>

@if (Model.HasData)
{
    <div style="margin-bottom: 20px;">
        <!-- Selector per canviar entre taules i consultes LINQ -->
        <label for="tableSelector">Selecciona una taula:</label>
        <select id="tableSelector" style="margin-left: 10px;">
            <option value="tots">Tots els indicadors</option>
            <option value="prodNeta">Indicadors amb producció neta més gran a 3000</option>
            <option value="consumGas">Indicadors amb consum de gasolina més gran a 100</option>
            <option value="prodMitja">Producció neta mitja per any</option>
            <option value="demanda">Indicadors amb demanda elèctrica i producció disponible gran</option>
        </select>
    </div>

    <div id="table-tots" style="margin-bottom: 20px;">
        <!-- Selector per escollir el tipus de taula quan es veuen totes les dades -->
        <!-- Això s'ha fet perquè si no, mostrar les 39 propietats en una mateixa taula és molt caos-->
        <label for="tableTotsSelector">Selecciona una taula:</label>
        <select id="tableTotsSelector" onchange="changeTable()" style="margin-left: 10px;">
            <option value="pbee">Producció Bruta (PBEE)</option>
            <option value="cdeebc">Indicadors Elèctrics (CDEEBC)</option>
            <option value="fee">Factors Generals (FEE)</option>
            <option value="feei">Factors Industrials (FEEI)</option>
            <option value="combustibles">Combustibles i Consums (DGGN/CCAC)</option>
        </select>
    </div>

        <!-- Taula de Producció Bruta (PBEE) -->
        <div id="pbeeTable" style="display:block;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Hidroelèctrica</th>
                        <th>Carbó</th>
                        <th>Gas Natural</th>
                        <th>Fuel Oil</th>
                        <th>Cicle Combinat</th>
                        <th>Nuclear</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var indicador in Model.Indicadors)
                    {
                        <tr>
                            <td>@indicador.Data</td>
                            <td>@indicador.PBEE_Hidroelectr</td>
                            <td>@indicador.PBEE_Carbo</td>
                            <td>@indicador.PBEE_GasNat</td>
                            <td>@indicador.PBEE_Fuel_Oil</td>
                            <td>@indicador.PBEE_CiclComb</td>
                            <td>@indicador.PBEE_Nuclear</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Taula d'Indicadors Elèctrics (CDEEBC) -->
        <div id="cdeebcTable" style="display:none;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Producció Bruta</th>
                        <th>Consum Auxiliar</th>
                        <th>Producció Neta</th>
                        <th>Consum de Bombes</th>
                        <th>Producció Disponibles</th>
                        <th>Total Vendes Xarxa Central</th>
                        <th>Saldo Intercanvi Elèctric</th>
                        <th>Demanda Elèctrica</th>
                        <th>Total EBC Mercat Regulat</th>
                        <th>Total EBC Mercat Lliure</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var indicador in Model.Indicadors)
                    {
                        <tr>
                            <td>@indicador.Data</td>
                            <td>@indicador.CDEEBC_ProdBruta</td>
                            <td>@indicador.CDEEBC_ConsumAux</td>
                            <td>@indicador.CDEEBC_ProdNeta</td>
                            <td>@indicador.CDEEBC_ConsumBomb</td>
                            <td>@indicador.CDEEBC_ProdDisp</td>
                            <td>@indicador.CDEEBC_TotVendesXarxaCentral</td>
                            <td>@indicador.CDEEBC_SaldoIntercanviElectr</td>
                            <td>@indicador.CDEEBC_DemandaElectr</td>
                            <td>@indicador.CDEEBC_TotalEBCMercatRegulat</td>
                            <td>@indicador.CDEEBC_TotalEBCMercatLliure</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Taula de Factors Generals (FEE) -->
        <div id="feeTable" style="display:none;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Indústria</th>
                        <th>Sector Terciari</th>
                        <th>Sector Domèstic</th>
                        <th>Sector Primari</th>
                        <th>Sector Energètic</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var indicador in Model.Indicadors)
                    {
                        <tr>
                            <td>@indicador.Data</td>
                            <td>@indicador.FEE_Industria</td>
                            <td>@indicador.FEE_Terciari</td>
                            <td>@indicador.FEE_Domestic</td>
                            <td>@indicador.FEE_Primari</td>
                            <td>@indicador.FEE_Energetic</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Taula de Factors Industrials (FEEI) -->
        <div id="feeiTable" style="display:none;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Consum en Obra Pública</th>
                        <th>Siderúrgia i Fosa</th>
                        <th>Metal·lúrgia</th>
                        <th>Indústria del Vidre</th>
                        <th>Ciments, Calç i Guix</th>
                        <th>Altres Materials de Construcció</th>
                        <th>Química i Petroquímica</th>
                        <th>Construcció i Mitjans de Transport</th>
                        <th>Resta de Transformació Metàl·lica</th>
                        <th>Alimentació, Begudes i Tabac</th>
                        <th>Tèxtil, Confecció, Cuirs i Calçat</th>
                        <th>Pasta, Paper i Cartó</th>
                        <th>Altres Indústries</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var indicador in Model.Indicadors)
                    {
                        <tr>
                            <td>@indicador.Data</td>
                            <td>@indicador.FEEI_ConsObrPub</td>
                            <td>@indicador.FEEI_SiderFoneria</td>
                            <td>@indicador.FEEI_Metalurgia</td>
                            <td>@indicador.FEEI_IndusVidre</td>
                            <td>@indicador.FEEI_CimentsCalGuix</td>
                            <td>@indicador.FEEI_AltresMatConstr</td>
                            <td>@indicador.FEEI_QuimPetroquim</td>
                            <td>@indicador.FEEI_ConstrMedTrans</td>
                            <td>@indicador.FEEI_RestaTransforMetal</td>
                            <td>@indicador.FEEI_AlimBegudaTabac</td>
                            <td>@indicador.FEEI_TextilConfecCuirCalçat</td>
                            <td>@indicador.FEEI_PastaPaperCartro</td>
                            <td>@indicador.FEEI_AltresIndus</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <!-- Taula de Combustibles i Consums (DGGN i CCAC) -->
        <div id="combustiblesTable" style="display:none;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Punt Frontera Enagás</th>
                        <th>Distribució i Alimentació de GNL</th>
                        <th>Consum en Centrals Tèrmiques</th>
                        <th>Gasolina per Automòbils</th>
                        <th>Gasoil A</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var indicador in Model.Indicadors)
                    {
                        <tr>
                            <td>@indicador.Data</td>
                            <td>@indicador.DGGN_PuntFrontEnagas</td>
                            <td>@indicador.DGGN_DistrAlimGNL</td>
                            <td>@indicador.DGGN_ConsumGNCentrTerm</td>
                            <td>@indicador.CCAC_GasolinaAuto</td>
                            <td>@indicador.CCAC_GasoilA</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

	<!-- Taula de Produccions Netes més grans a 3000 -->
    <div id="table-prodNeta" style="display: none;">
        <h3>Regsitres amb producció netes més grans a 3000</h3>
        <ul>
			@foreach (var indicador in Model.ProduccionsNetesGrans)
			{
				<li>@indicador.Data - @indicador.CDEEBC_ProdNeta</li>
			}
        </ul>
    </div>

	<!-- Taula de Consums de gasolina més grans a 100 -->
    <div id="table-consumGas" style="display: none;">
        <h3>Registres amb consum de gasolina més gran a 100</h3>
        <ul>
            @foreach (var indicador in Model.ConsumsGasolinaGrans)
            {
                <li>@indicador.Data - @indicador.CCAC_GasolinaAuto</li>
            }
        </ul>
    </div>

    <!-- Taula de consums mitjans per any-->
    <div id="table-prodMitja" style="display: none;">
        <h3>Produccions mitjanes per any</h3>
        <ul>
            @foreach (var indicador in Model.ProduccionsMitjaPerAny)
            {
                <li>@indicador.Data - @indicador.CDEEBC_ProdNeta</li>
            }
        </ul>
	</div>

    <!-- Taula de consums de gasoil A més grans a 1000 -->
    <div id="table-demanda" style="display: none;">
        <h3>Registres amb demanda elèctrica més gran que 4000 i producció disponible més gran que 300</h3>
        <ul>
            @foreach (var indicador in Model.DemandesIproduccionsGrans)
            {
                <li>@indicador.Data - @indicador.CDEEBC_DemandaElectr - @indicador.CDEEBC_ProdDisp</li>
            }
        </ul>
    </div>
}
else
{
	<div class="alert alert-warning">
		<p>Encara no existeix cap indicador energètic!</p>
	</div>
}

@section Scripts {
    <script src="~/js/visibilitatIndicadors.js"></script>
}