@page
@model T5_PR1.Pages.VeureIndicadorsModel
@{
    ViewData["Title"] = "Indicadors energètics";
}

<h2>Llistat d'indicadors energètics</h2>
<div>
    <a asp-page="AfegirIndicador" class="btn btn-primary" style="margin-bottom: 20px;">Afegir indicador energètic</a>
</div>

@if (Model.Indicadors != null && Model.Indicadors.Count() != 0)
{
    <div id="table-tots">
        <table class="table table-striped">
            <thead>
				<tr>
					<th>ID</th>
					<th>Any</th>
					<th>Producció neta</th>
					<th>Consum gasolina</th>
					<th>Demanda elèctrica</th>
					<th>Producció disponible</th>
					<th>Accions</th>
				</tr>
            </thead>
            <tbody>
				@foreach (var indicador in Model.Indicadors)
				{
					<tr>
						<td>@indicador.Id</td>
                        <td>@indicador.Data.ToString("dd/MM/yyyy")</td>
						<td>@indicador.CDEEBC_ProdNeta</td>
						<td>@indicador.CCAC_GasolinaAuto</td>
						<td>@indicador.CDEEBC_DemandaElectr</td>
						<td>@indicador.CDEEBC_ProdDisp</td>
						<td>
							<a asp-page="EditarIndicadorEnergetic" asp-route-id="@indicador.Id" class="btn btn-primary">Editar</a>
                            <form method="post" asp-page-handler="Delete" asp-route-id="@indicador.Id" onsubmit="return confirm('Estàs segur que vols eliminar aquest indicador energètic?');">
                                <button type="submit" class="btn btn-danger">Eliminar</button>
                            </form>
						</td>
					</tr>
				}
            </tbody>
        </table>
    </div>
}
else
{
    <div class="alert alert-warning">
        <p>Encara no existeix cap indicador energètic!</p>
    </div>
}

@section Scripts {
    <script src="~/js/visibilitatIndicadors.js"></script>
}